<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Staff Portal</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <h1>Lirary staff portal</h1>
            </div>
            <div class="nav-right">
                    <a href="/home">Home</a>
                    <a href="#">Books</a>
                    <a href="#">Members</a>
                    <a href="/register">Register</a>
                   <a href="/login">Logout</a>
            </div>
        </nav>
    </header>

    <section class="welcome-section">
        <div class="container">
            <h1>Welcome to the Kathmandu Library Staff Portal</h1>
            <p>Manage your library efficiently and effortlessly!</p>
            <a href="#" class="btn">Get Started</a>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Kathmandu Library. All rights reserved.</p>
    </footer>
</body>
</html>